.amarillo{
	background-color: #00FFFF;
}
.rojo{
	background-color: #8A0868;
	color: white;
}
div{
	height: 25%;
	width: 20%;
	font-size: 140%;
	margin-top: 2%;
	display:  inline;
	
}
.pd5{
	padding-left: 2%;
}
.pdl{
	padding-top: 2%;
}
.mayus{
	text-transform: uppercase;
}

body{
	background-image: url("http://static.batanga.com/sites/default/files/styles/full/public/tech.batanga.com/files/Wallpapers-para-Retina-Display2.png");
	background-size: 100%;
}
h1{
	color: #DF013A;
	text-align: center;
	font-family: Apple Chancery;
	font-size: 500%;
}